<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <form class="form-auth" id="form-register" action="{% url 'cadastro' %}" method="POST"> {% csrf_token %}
        <input class="form-input" type="text" placeholder="Username" name="username">
        <input class="form-input" type="text" placeholder="Nome" name="firstname">
        <input class="form-input" type="text" placeholder="Sobrenome" name="lastname">
        <input class="form-input" type="email" placeholder="E-mail" name="email">
        <input class="form-input" type="password" placeholder="Senha" name="senha">
        <button class="button" type="submit">Registrar-se</button>
        {% if useralredyexist %}
            <div class="error-message">
                {{ useralredyexist }}
            </div>
        {% endif %}
        
    </form>
</body>
</html>