*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@import 'vars';
@import 'components/navbar';
@import 'components/main_content';
@import 'components/friendship_list';
@import 'components/posts';

.base{
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
    "navbar navbar"
    "friendship-list main";
    
}
